/* Сброс стилей */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #121212;
    color: #e0e0e0;
    line-height: 1.6;
}

/* Контейнер для центровки контента */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 60px 20px;
}

/* Шапка и навигация */
header {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 15px 30px;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Merriweather', serif;
    font-size: 1.8rem;
    color: #d4af37;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu li a {
    text-decoration: none;
    color: #e0e0e0;
    font-weight: 400;
    transition: color 0.3s ease;
}

.nav-menu li a:hover {
    color: #d4af37;
}

.mobile-menu-toggle {
    display: none;
    font-size: 1.5rem;
    color: #e0e0e0;
    cursor: pointer;
}

/* Hero Section с частицами и слайдером */
.hero {
    position: relative;
    height: 100vh;
    background: #000;
    overflow: hidden;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.slider {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.slider .slide {
    opacity: 0;
    position: absolute;
    transition: opacity 1s ease;
}

.slider .slide.active {
    opacity: 1;
    position: relative;
}

.slider h1 {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    margin-bottom: 20px;
    color: #d4af37;
    margin: 0;

}

.slider h2 {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
    margin: 0;
    color: #d4af37;

}

.slider p {
    font-size: 1.25rem;
    margin-bottom: 30px;
    color: #e0e0e0;
}

.btn {
    background: #d4af37;
    color: #000;
    padding: 12px 30px;
    text-decoration: none;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #b58900;
}

/* Раздел "Коллекция" */
.catalog {
    background: #1e1e1e;
    padding: 60px 20px;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.catalog h2 {
    text-align: center;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #d4af37;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.product-card {
    background: #2a2a2a;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.7);
}
.product-image{
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    object-fit: fill;
    /* margin: -100px 0px 0px 0px; */
    display: block;
}

.product-info {
    padding: 20px;
    text-align: center;
}

.product-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #d4af37;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.product-info .price {
    color: #d4af37;
    font-size: 1.25rem;
    margin-bottom: 15px;
    
}

/* Раздел "О нас" */
.about {
    padding: 60px 20px;
    text-align: center;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #d4af37;
}

.about p {
    font-size: 1.1rem;
    max-width: 800px;
    margin: auto;
    color: #e0e0e0;
}

/* Раздел "Lookbook" */
.lookbook {
    background: #1e1e1e;
    padding: 60px 20px;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lookbook h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #d4af37;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery-item img {
    width: 100%;
    display: block;
}

.gallery-item:hover {
    transform: scale(1.05);
}

/* Раздел "Блог" */
.blog {
    padding: 60px 20px;
    text-align: center;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.map {
    padding: 60px 20px;
    text-align: center;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.mainMap{
    width: 100%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid #444;
}

.blog h2 {
    
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #d4af37;
}

.blog-post {
    max-width: 800px;
    margin: auto;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #444;
}

.blog-post h3 {
    
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #d4af37;
}

.blog-post p {
    font-size: 1.1rem;
    color: #e0e0e0;
    margin-bottom: 10px;
}

.blog-post a {
    text-decoration: none;
    color: #d4af37;
    font-weight: 500;
    transition: color 0.3s ease;
}

.blog-post a:hover {
    color: #b58900;
}

/* Раздел "Контакты" */
.contacts {
    background: #1e1e1e;
    padding: 60px 20px;
    text-align: center;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contacts h2 {
    
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #d4af37;
}

.contact-info p {
    font-size: 1.1rem;
    color: #e0e0e0;
    margin-bottom: 10px;
}

.contact-info i {
    color: #d4af37;
    margin-right: 10px;
}

.contact-form {
    max-width: 600px;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    background: #2a2a2a;
    color: #e0e0e0;
}

.contact-form button {
    background: #d4af37;
    color: #000;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact-form button:hover {
    background: #b58900;
}

/* Футер */
footer {
    background: #000;
    padding: 20px 0;
    text-align: center;
    color: #e0e0e0;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.95);
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
    }

    .nav-menu.active {
        display: flex;
    }

    .mobile-menu-toggle {
        display: block;
    }
}